.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
    padding-bottom: 80px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title h1{
  font-size: 48px;
}

.title div{
  font-size: 24px;
}

.gallery {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
}

.item {
  width: 100%;
  height: 444px;
  overflow: hidden;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Плавный fade-in */
.fadeIn img {
  opacity: 1;
  transform: scale(1);
}

/* Плавный fade-out */
.fadeOut img {
  opacity: 0;
  transform: scale(1.05);
}
