.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 520px;
}

.label {
  align-self: flex-start;
  padding: 6px 14px;
  background: #F2F6FA;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  /* color: #374151; */
}

.title {
  margin: 0;
  font-size: 40px;
  font-weight: 800;
  color: var(--text);
  line-height: 1.2;
}

.desc {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #4b5563;
}

.footer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.small {
  font-size: 14px;
  color: var(--muted);
}
