.cardsSection {
  width: 1920px;
  height: 1926px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardsBlock {
  width: 1180px;
  /* max-height: 520px; */
  overflow-x: auto;
  /* padding: 8px; */
  /* border-radius: 10px; */
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}
