.wrapper {
  width: 1920px;
  height: 82px;
  position: relative;
  /* background: #081130; */
  /* opacity: 0; */
  /* background-color: rep; */

  display: flex;
  /* justify-content: center; */
  /* justify-content: space-between; */
}

.blockLeft {
  width: 100%;
  /* max-width: 520px; */
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* max-width: 520px; */


.blockRight{
  width: 100%;
  /* max-width: 520px; */
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: start;
}
/* max-width: 520px; */



.logo {
  width: 520px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.addressBlock {
  /* position: absolute; */
  left: 1099px;
  top: 9px;
  display: flex;
  align-items: center;
  gap: 14px;
  overflow: hidden;
}

.addressIcon {
  width: 16px;
  height: 16px;
  /* background: white; */
  transform: rotate(180deg);
}

.addressText {
  color: white;
  font-size: 12px;
  /* font-family: "Montserrat"; */
  line-height: 16px;
}

.phoneBlock {
  /* position: absolute; */
  left: 1319px;
  top: 0;
  display: flex;
  gap: 14px;
  overflow: hidden;
  align-items: flex-start;
}

.phoneIcon {
  width: 36px;
  height: 36px;
  /* background: white; */
}

.phoneInfo {
  display: flex;
  flex-direction: column;
}

.phoneNumber {
  color: white;
  font-size: 20px;
  font-weight: bold;
  /* font-family: "Montserrat"; */
  line-height: 32px;
}

.phoneTime {
  color: white;
  font-size: 12px;
  /* font-family: "Montserrat"; */
  line-height: 20px;
}

.bottomLine {
  width: 100%;
  height: 1px;
  /* position: absolute; */
  top: 82px;
  /* background: rgba(255, 255, 255, 0.1); */
}
