.main {
  /* max-width: 1920px; */
  /* width: 100%; */
  height: 100%;
  margin: 0 auto;
  /* padding: 24px; */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; /* можно изменить */
}

.mainInner {
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.headerBlock {
  background-color: #081130;
  background-image: url(pick_1.jpg);
  background-position: right bottom;
}


